@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Light.otf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Regular.otf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Medium.otf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-SemiBold.otf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Bold.otf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-ExtraBold.otf");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Black.otf");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Day Roman";
  src: url("/fonts/DAYROM__.ttf");
  /* font-weight: 200; */
  font-style: normal;
}

@font-face {
  font-family: "Averia Regular";
  src: url("/fonts/AveriaSerif-Regular.ttf");
  /* font-weight: 800; */
  font-style: normal;
}

@font-face {
  font-family: "Chanticlear";
  src: url("/fonts/CHANTICL.TTF");
  /* font-weight: 800; */
  font-style: normal;
}

@font-face {
  font-family: "Eaves";
  src: url("/fonts/MrsEavesOT-RomanLining.otf");
  /* font-weight: 800; */
  font-style: normal;
}

@font-face {
  font-family: "Mops";
  src: url("/fonts/Mops.otf");
  /* font-weight: 800; */
  font-style: normal;
}
@font-face {
  font-family: "Neuton";
  src: url("/fonts/Neuton.ttf");
  /* font-weight: 800; */
  font-style: normal;
}
